@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&family=Poppins:wght@300;400;600;700&family=Raleway:wght@200&family=Roboto&family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@keyframes slid {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #d6d8da;
    overflow: hidden;
}

.scope {
    margin-left: 37rem;
    margin-top: 12.5rem;
    width: 180px;
    height: 180px;
    transform-style: preserve-3d;
    animation: slid 30s linear infinite;

    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: lcenter;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            transition: 2s;
        }

        &:hover {
            img {
                transform: translateY(-50px) scale(1.1);
                cursor: pointer;
            }
        }
    }
}

header {

    background-color: #130e22;

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0 5rem;
        margin-bottom: 3rem;
    }

    img {
        width: 9%;
    }

    .nav-links {
        margin-right: 42rem;
        margin-top: 2.2rem;
        width: 80%;

        a {
            text-decoration: none;
            color: #fff;
            padding-right: 0.5rem;
        }

        a:hover {
            color: #c2bfbf;
            transition: 0.5s;
        }
    }

    .btn-group {
        margin-top: 2.2rem;
        width: 100%;

        
            button {
                width: 35%;
                height: 35px;
                font-size: 14px;
                border: none;
                margin-right: 15px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #fff;


                a{

                    text-decoration: none;
                    color: #080710;
                    font-weight: 600;
                }
            }

            button:hover {
                cursor: pointer;
                background-color: #cac6c6;
            }
        
    }


}